{% extends "base.html" %}
{% block content %}
	<main class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h1 class="header1">About Me</h1>
			</div>
 		</div>
 		<div class="row">
 			<div class="col-md-12">
 				<p class="h1text">I have been working professionally in the tech field for close to a decade. In this time I have taken on many roles and worked with various different technologies. From building servers to automation ETL processes and everything in between. Looking to move into a Data Science/Data Engineering role, but also looking to expand web development skills in order to build more modern, better looking sites.</p>
 			</div>
 		</div>
 		<div class="row">
 			<div class="card" style="width: 400rem;">
			  <div class="card-body">
			    <h5 class="card-title">Languages</h5>
			    	<div class="row">
			 			<div class="col-md-3">
			 				Python
			 			</div>
			 			<div class="col-md-3">
			 				SQL
			 			</div>
			 			<div class="col-md-3">
			 				CSS
			 			</div>
			 			<div class="col-md-3">
			 				Powershell
			 			</div>
				 	</div>
				 	<div class="row">
				 		<div class="col-md-3">
			 				Javascript
			 			</div>
			 			<div class="col-md-3">
			 				HTML
			 			</div>
			 			<div class="col-md-3">
			 				Ruby
			 			</div>
			 			<div class="col-md-3">
			 				Java
			 			</div>
			 		</div> 
			  </div>
			</div>
 		</div>
 		<br>
 		<div class="row">
 			<div class="accordion" id="accordion">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingOne">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        Python
			      </button>
			    </h2>
			    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
			      <div class="accordion-body">
			      	<div class="row"> 
			      		<div class="col-md-3">
			      			Flask
			      		</div>
			      		<div class="col-md-3">
			      			Pandas
			      		</div>
			      		<div class="col-md-3">
			      			SQLAlchemy
			      		</div>
			      		<div class="col-md-3">
			      			BeautifulSoup
			      		</div>
			      	</div>
			      	<div class="row">
			      		<div class="col-md-3">
			      			Matplotlib
			      		</div>
			      		<div class="col-md-3">
			      			Scikit-learn
			      		</div>
			      		<div class="col-md-3">
			      			TensorFlow
			      		</div>
			      		<div class="col-md-3">
			      			Splinter
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        SQL
			      </button>
			    </h2>
			    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			      <div class="accordion-body">
			      	<div class="row">
				      	<div class="col-md-3">
				      			T-SQL
				      		</div>
				      		<div class="col-md-3">
				      			Postgres
				      		</div>
				      		<div class="col-md-3">
				      			Mongodb
				      		</div>
				      		<div class="col-md-3">
				      			MySQL
				      		</div>
				      	</div>
				      </div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			        JavaScript
			      </button>
			    </h2>
			    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
			      <div class="accordion-body">
			      	<div class="row">
			      		<div class="col-md-3">
			      			JQuery
			      		</div>
			      		<div class="col-md-3">
			      			AJAX
			      		</div>
			      		<div class="col-md-3">
			      			Plotly.js
			      		</div>
			      		<div class="col-md-3">
			      			Leaflet.js
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<br>
 	</main>
{% endblock %}