{% extends "base.html" %}
{% block content %}
	<main class="container-fluid">
	 	<div class="row"> 
	 		<div class="col-md-12"> 
	 			<h1 class="header1">Projects<h1>
	 		</div>
	 	</div>
	 	<br>
	 	<div class="row"> 
	 		<div class="col-md-12">
	 			<div class="card">
	 				<div class="card-body"> 
	 					<h5 class="card-title">Petfinder Machine Learning Project</h5>
	 					<p>The idea behind this project was to help shelters determine how "adoptable" their pet was, in hopes to help promote less "adoptable" pets to be adopted. This project utilized a Deep Learning Neural Networks in order to predict scores for pets based on their data from Petfinder. Data was originally brought in from a Kaggle dataset. The web app also utilized PetFinders API in order to bring in new data to help train the model. A user can run data through the model in two different ways. Input fields where the user could enter the data manually. If the pet was already on PetFinder though, the user could enter the pets id and pull the data straight from PetFinders API in order to get the pets adoptability score.</p>
	 					<a href="https://github.com/mpasricha1/Petfinder-Project">Github Link</a>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="row"> 
	 		<div class="col-md-12">
	 			<div class="card">
	 				<div class="card-body"> 
	 					<h5 class="card-title">Style Me Website</h5>
	 					<p>For this project, the goal was to build a full stack website. The website is based around the idea of building different outfits uploaded from either a picture on the internet or taken from your camera, then saving these outfits to different collections.</p>
	 					<p>The site used several different technologies to deploy. Node.js and express.js were used to create the server. While Sequelize was used for the database structure. The site also utilized two different passport.js stragies for authentication, a local strategy as well as Google oAuth2 authentication.</p>
	 					<a href="https://github.com/mpasricha1/style_me">Github Link</a>
	 					<a href="https://stylemenow.herokuapp.com/">Deployed Link</a>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="row"> 
	 		<div class="col-md-12">
	 			<div class="card">
	 				<div class="card-body"> 
	 					<h5 class="card-title">Happiness Survey Project</h5>
	 					<p>The subject of this project was to attempt to determine which country a person would be happiest living in. A survey was created in order to rate a persons input against data from the World Happiness Report. The survey utilized a custome algorithm in order to rate the users input.</p>
	 					<a href="https://github.com/mpasricha1/Project-2-Happiness">Github Link</a>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="row"> 
	 		<div class="col-md-12">
	 			<div class="card">
	 				<div class="card-body"> 
	 					<h5 class="card-title">Mix Tap Maker</h5>
	 					<p>The idea for this project was to create a small web app that would create a mix tape for a user based on a band that they input. The User inputs a band and a 10 song mixed tape with related artists is created. Several API's were used for this app. The first API was used to generate the simliar artists list. The second API is used to gather all the information about the artists and the song itself. There is a media player in order for the user to play the songs. The user can also save playlists and come back to them later.</p>
	 					<a href="https://github.com/mpasricha1/Mixtap_Generator">Github Link</a>
	 					<a href="http://mix-tape-maker.herokuapp.com/">Mix Tape Maker site</a>
	 				</div>
	 			</div>
	 		</div>
	</main>
{% endblock %}